body { font-size: 12px; margin: 0; padding: 0; }
.container { max-width: none; width: auto; padding: 5px; }
.folder, .file { cursor: pointer; margin: 1px 0; border: none; padding: 2px 5px; }
.folder { font-weight: bold; }
.folder-content { margin-left: 10px; }
.hidden { display: none; }
.folder:hover, .file:hover { background-color: #f8f9fa; }
.navbar-brand img { vertical-align: middle; }
.file-key { width: 120px; display: inline-block; }
.file-value { margin-left: 5px; }
.value-string { color: rgb(250, 0, 170); }
.value-number { color: rgb(0, 170, 0); }
.value-boolean  { color: rgb(0, 170, 0); }
.list-group-item { padding: 2px 5px; }
.container-fluid { max-width: none; }